{% load static tailwind_tags %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}WeTweet{% endblock %}</title>
    <link rel="stylesheet" href=" {% static style.css%}">
		{% tailwind_css %}

    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />

    {% tailwind_css %}
  </head>
  <body class="bg-black text-matrix-100 font-mono">
    <nav class="bg-black p-4">
      <div class="container mx-auto flex justify-between items-center ">
        <div class="flex items-center">
          <!-- Site name -->
          <a
            class="text-2xl font-bold text-matrix-50"
            href="{% url 'tweet_list' %}"
          >WeTweet</a>
        </div>

        
        <div class="block sm:hidden ml-4">
          <button class="hamburger-menu" id="hamburger-btn">
            <div class="bg-matrix-50 h-1 w-4 mb-1"></div>
            <div class="bg-matrix-50 h-1 w-8 mb-1"></div>
            <div class="bg-matrix-50 h-1 w-8"></div>
          </button>
        </div>

        
        <div class="hidden sm:block flex-grow ml-4">
          <form class="flex space-x-2" method="get" action="/search" id="search-form-desktop">
            <input
              id="query-desktop"
              name="query"
              class="bg-gray-800 border-2 border-green-400 text-matrix-50 rounded-lg p-2"
              type="search"
              placeholder="Search Name"
              onfocus="this.value='';"
            />
            <button
              type="submit"
              class="bg-matrix-200 text-matrix-50 px-4 py-2 rounded-lg hover:bg-green-400 hover:text-black"
            >
              Search
            </button>
          </form>
        </div>

        
        <div class="hidden sm:flex items-center ml-4">
          {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button class="bg-red-500 text-black px-4 py-2 rounded-lg">
                Escape The Matrix
              </button>
            </form>
          {% else %}
            <div class="flex space-x-2">
              <a
                href="{% url 'register' %}"
                class="bg-matrix-200 text-matrix-50 px-4 py-2 rounded-lg hover:bg-green-400 hover:text-black"
              >
                Enter The Matrix
              </a>
              <a
                href="{% url 'login' %}"
                class="bg-matrix-200 text-matrix-50 px-4 py-2 rounded-lg hover:bg-green-400 hover:text-black"
              >
                Login
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    
    <div class="hamburger-menu-content hidden" id="hamburger-menu">
      <div class="absolute right-4 top-20 bg-black p-4 rounded-lg">
        <!-- Search Form inside Hamburger Menu for Mobile -->
        <form class="flex space-x-2 mb-4" method="get" action="/search" id="search-form-mobile">
          <input
            id="query-mobile"
            name="query"
            class="bg-gray-800 border-2 border-green-400 text-matrix-50 rounded-lg p-2"
            type="search"
            placeholder="Search Name"
            onfocus="this.value='';"
          />
          <button
            type="submit"
            class="bg-matrix-200 text-matrix-50 px-4 py-2 rounded-lg hover:bg-green-400 hover:text-black"
          >
            Search
          </button>
        </form>

        {% if user.is_authenticated %}
         
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="bg-red-500 text-black px-4 py-2 rounded-lg">
              Escape The Matrix
            </button>
          </form>
        {% else %}
          
          <div class="flex space-x-2">
            <a
              href="{% url 'register' %}"
              class="bg-matrix-200 text-matrix-50 px-4 py-2 rounded-lg hover:bg-green-400 hover:text-black"
            >
              Enter The Matrix
            </a>
            <a
              href="{% url 'login' %}"
              class="bg-matrix-200 text-matrix-50 px-4 py-2 rounded-lg hover:bg-green-400 hover:text-black"
            >
              Login
            </a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="container mx-auto p-4">{% block content %}{% endblock %}</div>

    <script>
      const hamburgerBtn = document.getElementById('hamburger-btn');
      const hamburgerMenu = document.getElementById('hamburger-menu');

      hamburgerBtn.addEventListener('click', function() {
        hamburgerMenu.classList.toggle('hidden');
      });

      
      document.addEventListener('click', function(event) {
        if (!hamburgerBtn.contains(event.target) && !hamburgerMenu.contains(event.target)) {
          hamburgerMenu.classList.add('hidden');
        }
      });

     
      document.getElementById('search-form-mobile').addEventListener('submit', function() {
        hamburgerMenu.classList.add('hidden');
      });
    </script>
  </body>
</html>
