{% extends "layout.html" %}
{% comment %} {% extends "layout.html" %}

{% block title %} Enter The Matrix{% endblock %}

{% block content %}

<h1 class="text-center  mt-4">
    Welcome to WeTweet
</h1>

<h2>
    Are you sure you want to delete the tweet?
</h2>

<form method="post">
    {% csrf_token %}
    <button class="btn btn-danger">Delete</button>
    <a class="btn-success" href="{% url 'tweet_list' %}">Cancel</a>

</form>


{% endblock %}

 {% endcomment %}




 {% block title %} Delete The Matrix{% endblock %}


{% block content %}
<div class="flex justify-center items-center min-h-screen bg-black">
    <div class="text-center">
        <h1 class="text-center text-4xl font-bold text-green-400 mt-4">
            Delete The Matrix
        </h1>

        <h2 class="text-xl text-green-600 m-4">Are you sure you want to delete the tweet?</h2>

        <form method="post" class="bg-matrix-200 bg-opacity-60 backdrop-blur-lg p-8 rounded-lg shadow-lg space-y-6">
            {% csrf_token %}
            <button class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-800">Delete</button>
            <a class="bg-matrix-200 text-matrix-50  px-4 py-2 rounded-lg hover:bg-green-400 hover:text-black" href="{% url 'tweet_list' %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}

 